<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=500px, initial-scale=1.0">
  <title>WebSocket</title>
</head>

<body>
  <div>
    <h3>Send message:</h3>
  </div>
  <div>
    <form (submit)="send()">
      <input type="text" name="message" placeholder="Enter message" [(ngModel)]="message">
      <input type="text" name="author" placeholder="Enter author" [(ngModel)]="author">
      <button name="send" type="submit">Send</button>
    </form>
  </div>

  <br>
  <div>
    <h3>Messages:</h3>
    <div *ngFor="let m of messages">
      <div>Message: {{m.message}}</div>
      <div>Author: {{m.author}}</div>
    </div>
  </div>

</body>

</html>